{% extends 'base-principal.html' %}
{% load static %}

{% block bloque1 %}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <h3 class="texto-inicio" style="text-align: center;">Bienvenido/a a JD movie Blog</h3><br>
            <p style="color: whitesmoke;text-align: justify;">Mi nombre es Julian Dascanio, soy de Vicente Lopez, Buenos Aires, tengo 41 años y me dedico al marketing y al diseño.</p>
            <p style="color: whitesmoke;text-align: justify;">Soy autodidacta desde muy chico y hace 2 años cree un programa de registro de llamados para la empresa donde trabajo en C# y desde entonces desarrollé una pasión por la programación.</p>
            <p style="color: whitesmoke;text-align: justify;">Al empezar el curso de Python en Coderhouse lo tomé como el aprendizaje de un lenguaje más pero descrubrí que realmente quiero dedicarme a la programación y buscar nuevos rumbos.</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}