{% extends 'base-principal.html' %}
{% load static %}
{% block bloque1 %}



<form action="/Blog/alta_pagina" method="POST" enctype="multipart/form-data" style="color: whitesmoke;">
    {% csrf_token %}
    {{formulario.media}}
    {{formulario.as_p}}
    <input type="hidden" class="form-control form-control-sm oscuro" value="{{usuario}}" name="autor">
    <input type="hidden" class="form-control form-control-sm oscuro" value="{{fecha}}" name="fecha">
    <button class="btn btn-secondary" type="submit">Enviar</button>
</form>


<!--
<div class="container">
    <div style="margin: auto;width: 800px;align-content: center;">
        <form action="/Blog/alta_pagina" method="POST" enctype="multipart/form-data" style="color: whitesmoke;text-align: center;">
            {% csrf_token %}            
                    <h3 style="color: rgb(236, 255, 168);">Crea un Post</h3>
                        {% if texto %}
                        <div class="alert alert-danger" role="alert" style="text-align: center;">
                        {{texto}}
                        </div>
                        {% endif %}
                        
                        {{formulario.media}}
                        {{formulario.as_p}}

                        <div class="input-group mb-3">
                            <input type="hidden" class="form-control form-control-sm oscuro" value="{{usuario}}" name="autor">
                        </div>
                        <div class="input-group mb-3">
                            <input type="hidden" class="form-control form-control-sm oscuro" value="{{fecha}}" name="fecha">
                        </div>
                        <button class="btn btn-secondary" type="submit">Enviar</button>
               
        </form>
    </div>
</div>-->



{% endblock %}