{% extends 'base-principal.html' %}
{% load static %}

{% block bloque1 %}

<div>
    {% if msg_edit_usuario_error %}
    <div class="alert alert-danger" role="alert">
    {{msg_edit_usuario_error}}
    </div>
    {% endif %}

<form action="" method="POST" style="width: 60%;">
    {% csrf_token %}
    <div class="text-muted-it" style="font-size: 16px; color:rgb(236, 255, 168);">
                        Cambiar Contraseña
                    </div><br>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Contraseña</span>
                        <input type="password" class="form-control form-control-sm oscuro" name="password1">
                    </div>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Repetir</span>
                        <input type="password" class="form-control form-control-sm oscuro" name="password2">
                    </div>
                    <div class="button">
                        <input type="submit" value="Cambiar" align="center">
                    </div>
                </form>
{% endblock %}