{% extends 'base-principal.html' %}
{% load static %}
{% block bloque1 %}


<div class="container">
    <div class="row">
        <div class="col" style="width: 30%;">
        </div>
        <div class="col" style="width: 40%;">
            <form action="{% url 'editar_avatar' %}" method="POST" enctype="multipart/form-data" style="width:400px;">
                {% csrf_token %}
                <h5 style="color: rgb(236, 255, 168);text-align: center;">Cambiar Avatar</h5>
                <div class="input-group mb-3">
                    <input type="file" class="form-control form-control-sm oscuro" name="imagen" >
                </div>
                <button class="btn btn-secondary" type="submit">Enviar</button>
            </form>
        </div>
        <div class="col" style="width: 30%;">
        </div>
    </div>
</div>



{% endblock %}