{% extends 'base-principal.html' %}
{% load static %}

{% block bloque1 %}

<div class="container">
    <div style="margin: auto;width: 600px;align-content: center;">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3 style="color: rgb(236, 255, 168);">Editar Pelicula</h3>
                        <div class="input-group mb-3" style="margin: auto;">                    
                            <span class="input-group-text mota" id="basic-addon1">Nombre</span>
                            <input type="text" class="form-control form-control-sm oscuro" name="nombre" value="{{pelicula.nombre}}">
                        </div>
                        <div class="input-group mb-3">                    
                            <span class="input-group-text mota" id="basic-addon1">resumen</span>
                            <textarea type="text" class="form-control" name="trama_breve"  rows="4" style="background-color: rgb(190, 190, 190); width: 80%;margin: auto;" maxlength="250">{{pelicula.trama_breve}}</textarea>                            
                        </div>
                        <div class="input-group mb-3">                    
                            <span class="input-group-text mota" id="basic-addon1">trama</span>
                            <textarea type="text" class="form-control" name="trama_larga"  rows="12" style="background-color: rgb(190, 190, 190); width: 80%;margin: auto;">{{pelicula.trama_larga}}</textarea>
                            
                        </div>
                        <div class="input-group mb-3">                    
                            <span class="input-group-text mota" id="basic-addon1">Año</span>
                            <input type="number" class="form-control form-control-sm oscuro" value="{{pelicula.anio}}" name="anio">
                        </div>
                        <button class="btn btn-secondary" type="submit"> Enviar</button>
                </div>
        
            </div>
        </form>
    </div>
</div>



{% endblock%}