{% extends 'base-principal.html' %}
{% load static %}

{% block bloque1 %}

<div class="container">
	<div class="row">
    	<div class="col">  
			<div class="form-control-modo-oscuro" style="width: 75% ; margin-right: 50%; margin-left: 10%;">
				<form action="" method="POST" enctype="multipart/form-data" style="color: whitesmoke;">
    			
					{% csrf_token %}

					<h3 style="color: rgb(236, 255, 168);">Editar Pelicula</h3>

					{% if texto %}

					<div class="alert alert-danger" role="alert" style="text-align: center;">
					{{texto}}
					</div>
					
					{% endif %}

					{{formulario.media}}
					{{formulario.as_p}}

					<button class="btn btn-secondary" type="submit">Enviar</button>

				</form>
			</div>
		</div>
	</div>
</div>



{% endblock%}