{% extends 'base-principal.html' %}
{% load static %}
{% block bloque1 %}

<secion>
    {% if usuario_creado %}
    <h6 style="color: green ; text-align: center;">{{usuario_creado}}</h6>
    {% endif %}
    <h3 class="texto-inicio" style="text-align: center;">Bienvenido/a a JD movie Blog</h3><br>
</section>
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/static/Blog/assets/img/{{portada}}');"></div>
            <img src="../assets/img/{{portada}}" alt="">
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">                
                
                <h2 class="texto-inicio">Peliculas</h2>
                <p class="lead mb-0 texto-inicio">Encontra información sobre las mejores peliculas y mirá la opinión de los usuarios</p><br>
                <a href="/Blog/peliculas" type="button" class="btn btn-inicio">Ver peliculas</a>
                
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('/static/Blog/assets/img/post_image.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Blog</h2>
                <p class="lead mb-0">Como usuario podrás crear tus propios posts y dejar comentarios</p><br>
                <a href="Blog/paginas" type="button" class="btn btn-inicio">Ver Blog</a>
            </div>
        </div>


{% endblock %}