{% extends 'base-principal.html' %}
{% load static %}
{% block bloque1 %}


{{texto}}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">titulo</th>
        <th scope="col">subtitulo</th>
        <th scope="col">pelicula</th>
        <th scope="col">cuerpo</th>
        <th scope="col">autor</th>
        <th scope="col">fecha</th>
        <th scope="col">imagen</th>
      </tr>
    </thead>
    <tbody>
        {% for n in paginas %}
        <tr>        
        <th scope="row">{{n.id}}</th>
        <td>{{n.titulo}}</td>
        <td>{{n.subtitulo}}</td>
        <td style="width: 180px;">{{n.pelicula}}</td>        
        <td><p class="text-truncate" width="400">{{n.cuerpo}}</p></td>
        <td>{{n.autor}}</td>
        <td style="width: 250px;">{{n.fecha}}</td>
        <td>
          {% if n.imagen %}
          <img src="{{n.imagen.url}}" alt="" height="50px"width="100px">          
          {% else %}
          <img src="{% static 'Blog/assets/img/thumbnail-default.jpg' %}" alt="" height="50px"width="100px">
          {% endif %}          
        </td>
        <td >
          <a href="{% url 'eliminar_post' n.id %}">borrar</a>
        </td>
        <td >
          <a href="{% url 'editar_post' n.id %}">editar</a>
        </td>
        <td >
          <a href="{% url 'editar_imagen_post' n.id %}">cambiar imagen</a>
        </td>
        
      </tr>
      {% endfor %}     
    </tbody>
  </table>

  <div class="container"> 
  
    <div class="row row-cols-1 row-cols-md-2 g-2">
      {% for n in paginas%}
      <div class="col">}
        <div>

        </div>
        <div class="card mb-4" style="max-width: 480px;">
          <a href="#!"><img class="card-img-top" src="{{n.imagen.url}}" alt="..." /></a>
          <div class="card-body" style="height: 200px;">
              <div class="small text-muted tinny">{{n.autor}} | {{n.fecha}}</div>
              <h2 class="card-title h4">{{n.titulo}}</h2>
              <p class="card-text">{{n.subtitulo}}</p>
              <a href="{% url 'pagina_single' n.id %}" class="text-muted-it-grey small paginas" style="align-items: bottom;"">Leer mas...</a>
          </div>
        </div>
      
      </div>
      {% endfor %}
      
    </div>    
    
  </div>
  

{% endblock %}