{% extends 'base-principal.html' %}
{% load static %}
{% block bloque1 %}

<!--tabla peliculas-->
{% if peliculas %}
<h5 style="color: rgb(236, 255, 168);text-align: center;">Peliculas</h5>
<table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Pelicula</th>
        <th scope="col">Resumen</th>
        <th scope="col">Portada</th>
      </tr>
    </thead>
    <tbody>
        {% for p in peliculas %}
      <tr>
        <th scope="row">{{p.id}}</th>
        <td><a href="{% url 'pelicula_single' p.id %}">{{p.nombre}}</a></td>
        <td>{{p.trama_breve}}</td>
        <td><img src="{{p.imagen.url}}" style="height: 50px ;"></td>        
        <td><a href="{% url 'pelicula_borrar' p.id %}">borrar</a></td>
        <td><a href="{% url 'editar_pelicula' p.id %}">editar</a></td>
        <td><a href="{% url 'editar_imagen_pelicula' p.id %}">imagen</a></td>
      </tr>
        {% endfor %}     
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" role="alert" style="text-align: center;">
        Aun no hay peliculas registradas
    </div>
{% endif %}
<!--tabla posts-->
{% if paginas %}
<h5 style="color: rgb(236, 255, 168);text-align: center;">Paginas</h5>
<table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Subtitulo</th>
        <th scope="col">Pelicula</th>
        <th scope="col">Autor</th>
        <th scope="col">Imagen</th>

      </tr>
    </thead>
    <tbody>
        {% for n in paginas %}
      <tr>
        <th scope="row">{{n.id}}</th>
        <td><a href="{% url 'pagina_single' n.id %}">{{n.titulo}}</a></td>
        <td>{{n.subtitulo}}</td>
        <td>{{n.pelicula}}</td>
        <td>{{n.autor}}</td>
        <td><img src="{{n.imagen.url}}" style="height: 50px ;"></td>        
        <td><a href="{% url 'eliminar_pagina' n.id %}">borrar</a></td>
        <td><a href="{% url 'editar_pagina' n.id %}">editar</a></td>
        <td><a href="{% url 'editar_imagen_pagina' n.id %}">imagen</a></td>
      </tr>
      {% endfor %}      
    </tbody>
</table>
{% else %}
    <div class="alert alert-info" role="alert" style="text-align: center;">
        Aun no hay Paginas registradas
    </div>
{% endif %}

<!--tabla mensajes-->
{% if paginas %}
<h5 style="color: rgb(236, 255, 168);text-align: center;">Comentarios</h5>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Autor</th>
        <th scope="col">Comentario</th>
        <th scope="col">Pelicula</th>
        <th scope="col">categoria</th>
        <th scope="col">ID-Categoria</th>
      </tr>
    </thead>
    <tbody>
      {% for m in mensajes %}
      <tr>
        <th scope="row">{{m.id}}</th>
        <td>{{m.autor}}</td>
        <td>{{m.comentario}}</td>
        <td>{{m.pelicula}}</td>
        <td>{{m.clase}}</td>
        <td>{{m.id_clase}}</td>
        <td><a href="{% url 'eliminar_mensaje' m.id%}">borrar</a></td>
        <td><a href="{% url 'editar_mensaje' m.id %}">editar</a></td>
      </tr>
      {% endfor %}      
    </tbody>
  </table>
{% else %}
    <div class="alert alert-info" role="alert" style="text-align: center;">
        Aun no hay mensajes registrados
    </div>
{% endif %}

{% endblock %}