{% extends 'base-principal.html' %}
{% load static %}

{% block bloque1 %}

<div>
    {% if msg_edit_usuario %}
    <div class="alert alert-success" role="alert">
    {{msg_edit_usuario}}
    </div>
    {% endif %}
    {% if msg_edit_usuario_error %}
    <div class="alert alert-danger" role="alert">
        {{msg_edit_usuario_error}}
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="bloque-perfil">
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <form action="/Cuentas/editar_avatar" method="GET" style="width: 40%;">
                {% csrf_token %}
                <div class="col" style="text-align: center;width: 100%;align-items: center;">
                    <br>
                    <img src="{{avatar}}" alt="Avatar" class="avatar-perfil"><br><br>
                    <button class="btn btn-secondary btn-sm" style="padding: 1%;">cambiar avatar</button>
                    <p>{{prueba.id}}</p>
                    
                </div>
            </form>           
            <form action="/Cuentas/editar_usuario" method="POST" style="width: 60%;">
                {% csrf_token %}
                <div class="col" style="width: 80%;">
                    <h3 style="color: rgb(236, 255, 168);">{{usuario}}</h3>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Nombre</span>
                        <input type="text" class="form-control form-control-sm oscuro" name="first_name" value="{{datos.first_name}}">
                    </div>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Apellido</span>
                        <input type="text" class="form-control form-control-sm oscuro" name="last_name" value="{{datos.last_name}}">
                    </div>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Mail</span>
                        <input type="email" class="form-control form-control-sm oscuro" name="email" value="{{datos.email}}">
                    </div>
    
                    <hr class="linea">
    
                    <div class="text-muted-it-cream" style="font-size: 11px; color:rgb(236, 255, 168);">
                        Cambiar Contraseña
                    </div>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Contraseña</span>
                        <input type="password" class="form-control form-control-sm oscuro" name="password1">
                    </div>
                    <div class="input-group mb-3">                    
                        <span class="input-group-text mota" id="basic-addon1">Repetir</span>
                        <input type="password" class="form-control form-control-sm oscuro" name="password2">
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-secondary btn-sm" type="submit" style="padding: 1%;">Actualizar perfil</button>
                    </div>
                </div>    
            </form>
        </div>
    </div><br>
</div>
<!--Posteos-->    
    <div class="row">
        <div class="col">
            <h5 style="color: rgb(236, 255, 168);text-align: center;">Tus posteos</h5>
            {% if paginas %}
            <table class="table table-dark table-striped">
                <thead>
                  <tr scope="row"> 
                    <th scope="col">ID</th>                   
                    <th scope="col">Titulo</th>
                    <th scope="col">Subtitulo</th>
                    <th scope="col">Imagen</th>
                  </tr>
                </thead>
                
                <tbody>
                    {% for n in paginas %}
                  <tr>
                    <th scope="row">{{n.id}}</th>
                    <td>{{n.titulo}}</td>
                    <td>{{n.subtitulo}}</td>
                    <td><img src="{{n.imagen.url}}" style="height: 50px ;"></td>
                    <td><a href="{% url 'eliminar_pagina' n.id %}">borrar</a></td>
                    <td><a href="{% url 'editar_pagina' n.id %}">editar</a></td>
                    <td><a href="{% url 'editar_imagen_pagina' n.id %}">imagen</a></td>
                  </tr> 
                  {% endfor %}
                </tbody>
            </table>
            {% else %}
                  <div class="alert alert-info" role="alert" style="text-align: center;">
                    Aun no realizaste ningún Post
                  </div>
            {% endif %}      
        </div>
    </div>

<!--Mensajes-->    
<div class="row">
    <div class="col">
        <h5 style="color: rgb(236, 255, 168);text-align: center;">Comentarios</h5>
        {% if mensajes %}
        <table class="table table-dark table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Autor</th>
                <th scope="col">Comentario</th>
                <th scope="col">Pelicula</th>
                <th scope="col">categoria</th>                
            </tr>
            </thead>
            <tbody>
            {% for m in mensajes %}
            <tr>
                <th scope="row">{{m.id}}</th>
                <td>{{m.autor}}</td>
                <td>{{m.comentario}}</td>
                <td>{{m.pelicula}}</td>
                <td>{{m.clase}}</td>
                {% if m.clase == "pelicula" %}      
                <td><a href="{% url 'pelicula_single' m.id_clase %}">ver</a></td>
                {% else %}
                <td><a href="{% url 'pagina_single' m.id_clase %}">ver</a></td>   
                {% endif %}                
                <td><a href="{% url 'eliminar_mensaje' m.id %}">borrar</a></td>
                <td><a href="{% url 'editar_mensaje' m.id %}">editar</a></td>
            </tr>
            {% endfor %}      
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-info" role="alert" style="text-align: center;">
                Aun no hay mensajes registrados
            </div>
        {% endif %}
    </div>
</div>    

{% endblock %}